@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Michroma", sans-serif;
    height: 100vh;
}

.container {
    background-image: url("../img/dV92ML9PDCg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0.80;
}

.container h1 {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
}

.container h1 span {
    color: #adf6f8;
}

.Link {
    position: absolute;
    top: 50px;
    left: 50%;
    font-size: 18px;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.Link a {
    color: white;
    text-decoration: none;
    padding-left: 40px;
}

.Link a:hover {
    opacity: 0.70;
    color: aliceblue;
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/i.webp");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}

#svg {
    height: 600px;
    width: 100%;
    stroke: white;
    fill-opacity: 0;
    /* stroke-width: 3px;
  stroke-dasharray: 4500; */
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.name-container {
    height: 75px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo-name {
    color: #adf6f8;
    font-size: 60px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: bolder;
}


section {
    display: flex;
    margin-top: 37%;
}

img {
    --color: #25f72f; /* the border color */
    --border: 10px;   /* the border thickness*/
    --offset: 20px;   /* control the offset*/
    --gap: 5px;       /* the gap on hover */
    
    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(3*var(--offset));
    padding: 
      calc(var(--gap) + var(--border))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border));
    background: 
      linear-gradient(      var(--_c)) var(--_o) var(--_o), 
      linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter: grayscale(.4);
    transition: .5s;
    cursor: pointer;
    margin-left: 60px;
  }
  img:hover {
    background-position: 0px 0px;
    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
    filter: grayscale(0);
  }
  

  /* img a:hover {
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
  } */
